:root {
  --ks-brand-color-primary: #4bfe4a;
  --ks-brand-color-primary-inverted: #30e281;
  --ks-brand-color-onPrimary: #021605;
  --ks-brand-color-onPrimary-inverted: #021605;
  --ks-brand-color-bg: #d3ffd7;
  --ks-brand-color-bg-inverted: #050505;
  --ks-brand-color-fg: #021605;
  --ks-brand-color-fg-inverted: #ffffff;
  --ks-brand-color-link: #4bfe4a;
  --ks-brand-color-link-inverted: #65fffc;
  --ks-brand-color-positive: #008300;
  --ks-brand-color-positive-inverted: #30e281;
  --ks-brand-color-negative: #cc0000;
  --ks-brand-color-negative-inverted: #ff5c5c;
  --ks-brand-color-notice: #b85b00;
  --ks-brand-color-notice-inverted: #e0a03a;
  --ks-brand-color-informative: #007eb4;
  --ks-brand-color-informative-inverted: #65fffc;
  --ks-brand-color-scale-1: 95%;
  --ks-brand-color-scale-2: 85%;
  --ks-brand-color-scale-3: 73%;
  --ks-brand-color-scale-4: 61%;
  --ks-brand-color-scale-5: 50%;
  --ks-brand-color-scale-6: 39%;
  --ks-brand-color-scale-7: 27%;
  --ks-brand-color-scale-8: 15%;
  --ks-brand-color-scale-9: 5%;
  --ks-brand-font-family-display: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",Arial,sans-serif;
  --ks-brand-font-family-copy: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",Arial,sans-serif;
  --ks-brand-font-family-interface: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",Arial,sans-serif;
  --ks-brand-font-family-mono: ui-monospace,SFMono-Regular,"SF Mono",Menlo,Consolas,"Liberation Mono",monospace;
  --ks-brand-font-weight-light: 300;
  --ks-brand-font-weight-regular: 400;
  --ks-brand-font-weight-medium: 500;
  --ks-brand-font-weight-semi-bold: 600;
  --ks-brand-font-weight-bold: 700;
  --ks-brand-font-size-display-base: 20px;
  --ks-brand-font-size-display-shrink-factor: 1.5;
  --ks-brand-font-size-display-grow-factor: 1.5;
  --ks-brand-font-size-display-bp-factor: 1.5;
  --ks-brand-font-size-copy-base: 16px;
  --ks-brand-font-size-copy-shrink-factor: 1.5;
  --ks-brand-font-size-copy-grow-factor: 1.5;
  --ks-brand-font-size-copy-bp-factor: 1.5;
  --ks-brand-font-size-interface-base: 16px;
  --ks-brand-font-size-interface-shrink-factor: 1.5;
  --ks-brand-font-size-interface-grow-factor: 1.5;
  --ks-brand-font-size-interface-bp-factor: 1.5;
  --ks-brand-font-size-mono-base: 16px;
  --ks-brand-font-size-mono-shrink-factor: 1.5;
  --ks-brand-font-size-mono-grow-factor: 1.5;
  --ks-brand-font-size-mono-bp-factor: 1.5;
  --ks-brand-spacing-factor: 1.5;
  --ks-brand-spacing-shrink-factor: 1.5;
  --ks-brand-spacing-grow-factor: 1.5;
  --ks-brand-spacing-bp-factor: 1.5;
  --ks-brand-border-width-default: 1px;
  --ks-brand-border-radius-factor: 1.5;
  --ks-brand-box-shadow-blur-factor: 1.5;
  --ks-brand-box-shadow-opacity-factor: 1.5;
  --ks-brand-box-shadow-spread-factor: 1.5;
  --ks-brand-duration-factor: 1.5;
}
